<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Dashboard - SB Admin</title>
	<link th:href="@{/css/admin/style.min.css}" rel="stylesheet" />
	<link th:href="@{/css/admin/styles.css}" rel="stylesheet" />
	<script th:src="@{/js/admin/fontawesome-all.js}" crossorigin="anonymous"></script>
</head>

<body>
	<header th:replace="admin/fragments/header :: header_nav"></header>
	<div id="layoutSidenav">
		<div th:replace="admin/fragments/side_navbar :: side_navbar"></div>
		<!-- Copy den day-->
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Phản hồi liên hệ</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item">
							<a href="index.html">Dashboard</a>
						</li>
						<li class="breadcrumb-item">
							<a href="Category.html">Danh mục</a>
						</li>
						<li class="breadcrumb-item active">Phản hồi</li>
					</ol>

					<!-- Chỗ cần thay đổi -->
					<div class="container mt-5">
						<h2>Trả lời khách hàng</h2>
						<form>
							<!-- Book ID -->
							<div class="form-group"></div>
							<br />
							<!-- Book Title -->
							<div class="form-group">
								<label for="categoryName">Tiêu đề:</label>
								<input required type="text" class="form-control mt-2" id="categoryName"
									name="responseTitle" placeholder="Enter response's title" />
							</div>
							<br />
							<div class="form-group">
								<label for="description">Nội dung:</label>
								<textarea rows="6" class="form-control" id="description" name="description"
									placeholder="Enter response's content"></textarea>
							</div>
							<br />

							<!-- Submit Button -->
							<a th:href="@{'/admin/contacts'}" class="btn btn-primary mb-3 mt-3 mb-4">Submit</a>
						</form>
					</div>
				</div>
			</main>
			<footer th:replace="admin/fragments/footer :: footer"></footer>
		</div>
	</div>
</body>

</html>